.chat-item {
    border-top: 1px solid #EAEAEA;
    padding: 12px 0;
    display: flex;
    position: relative;

    cursor: pointer;

    transition: all .2s ease-in;
}

.chat-item:hover {
    background-color: #E4EDFD;
}